div {
  color: white;
  position: absolute !important;
  font-family: "Courier New", monospace;
  text-align: center !important;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: calc(2.5rem + 2.5vw);
}

h3 {
  font-size: calc(0.5rem + 1vw);
  margin: 0;
}
